<h1>Choose a Service</h1>
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 100%;">
      <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Buy Policy</h4>
        <p class="card-text">Peace of mind comes with a piece of mine.</p>
        <a class="btn btn-primary" href="#!/buy">Buy now!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 100%;">
      <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Notify Loss</h4>
        <p class="card-text">Come insured - go assured.</p>
        <a class="btn btn-success" href="#!/claim">Claim now!</a>
      </div>
    </div>
  </div>
</div>

<h2>For Our Partners</h2>
<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 100%;">
      <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Confirm Loss</h4>
        <p class="card-text">Our Business - Your Business</p>
        <a class="btn btn-danger" href="#!/confirm">Verify loss!</a>
      </div>
    </div>
  </div>
</div>

<h2>For AXA</h2>
<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 100%;">
      <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Payout</h4>
        <p class="card-text">Sharing is Caring</p>
        <a class="btn btn-danger" href="#!/payout">Make a Payout!</a>
      </div>
    </div>
  </div>
</div>
